.mainTable{
}
.mainTable td{
	border-bottom:1px solid #D8D4D4;
}
.mainTable td .button{
	padding: 0px 4px;
}
.asConsole{
	background-color: #464545;
	color: #FFF5E2;
	font-family: monospace;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 140%;
}
.asConsole .hr{
	border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    height: 1px;
}